.user_table {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem;

}

.user_table_card {
    margin: 1rem;
}

.filter-container {
    display: flex;
    justify-content: center; 
    margin: 2rem;
    
}

.filter-input {

    margin: 0.5rem;
}
h2 {
    text-align: center;
    font-size: 2rem;
}