.card {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(255, 254, 244);
  width: fit-content;
  height: 10.5rem;
  width: 26rem;
  margin: .5rem;
  font-size: small;
  text-align: left;

}

.card_right {
  width: 100%;
  position: relative;
  padding: 1rem;
}

.card_service {
  /* background-color: blue; */
  color: azure;
  font-size: smaller;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5rem
}